html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=================
Start of Rules after reset
===================*/
body {
	margin:0 0 60;
	font-family: Arial, Sans-serif;
	overflow-x: hidden;


}
/*
==================
Nav Bar
=================
*/

.navbar-container {
	width:100%;
	display:inline-block;
	height:50px;
	line-height: 50px;
	text-align: center;
	font-weight: 300;
	padding-top: 5px;
	font-size:13px;
	

}
.navbar-container ul {
	list-style-type: none;
	float:right;
	margin-right: 5px;
}

 .navbar-container ul li {
	display: inline-block;
	padding-left:5px;
	padding-right:5px;

    line-height: 24px;
	height: 24px;
	position: relative;
	
}
.navbar-container a {
	text-decoration:none;
	color:rgb(55, 55, 55);
}
.navbar-container a:hover {
	color:rgb(38, 38, 38);
}
.navbar-container i:hover {
	color:rgb(38, 38, 38);
}
.navbar-container i { display: inline-block;
	line-height: 24px;
	height: 24px;
	vertical-align: middle;
	color:rgb(55, 55, 55);
}

.material-icons {
	li
}
/*
=================
Logo Container
=================
*/
.logo-container {
	
	width: 450px;
	height: 233px;
	max-width:450px;
	position: relative;
	margin: auto;
	

}
img {
	max-width:290px;
	max-height:100px;
	position: relative;
	top:100px;
	margin-left:auto;
	margin-right: auto;
	display: block;


}

/*
================
Search Container
================
*/
.search-bar {
	position: relative;
	height:50px;
	width:450px;
	
	
	margin-right: auto;
	margin-left: auto;

}
 

.search-bar input {
	font-size: 16px;
	position: relative;
	width:400px;
	min-width: 200px;
	height:30px;
	margin:1px;
	margin-bottom: -1px;
	line-height: 16px;
	
	margin-right: auto;
	margin-left: auto;
	display: inline-block;

	
}
.search-bar img {
	position: absolute;
	left:92%;
	top:6px;
	
	}
.search-text {
	padding-right: 40px;
	margin:1px;
}
.search-bar input:hover {
border:solid 1px #969494;
}
.search-buttons {
	position: relative;
	margin:auto;
	width:450px;
	height:50px;
	
}
.search-buttons input {
	border:none;
	font: Arial
	
	line-height: 27px;
	font-size:13px;
	color: #848181;

	}
.gsbtn {
	height:36px;
	position: relative;
	left:70px;
	top:0px;
	width:135px;
	
	background:#f2f2f2;
	font-weight:bold;
	border-radius:2px;
	display: inline-block;
}
.search-buttons .iflbtn {
	width:142.58px;
	height: 36px;
	top:0;
	left:80px;
	position: relative;
	
	background:#f2f2f2;
	font-weight: bold;
	border-radius:2px;
	display: inline-block;
}
.search-buttons input:hover {
	color:black;
	background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	border: solid 1px #a3a1a1;

}

/*
================
Footer
===============
*/
.footer-container {
position: absolute;
left:0;
bottom: 0;
height:40px;
overflow:hidden;
width:100%;
border:solid 1px;
display: inline-block;
line-height: 40px;
background: #F2F2F2;
color:#BEBEBE;

}

.footer-container ul li {
	display:inline-block;
	margin-right: 12px;
	margin-left: 12px;
	font-size: 13px;
	font-weight:500;
}
.footer-container a {
	color:#848181;
	text-decoration: none;
}
.footer-container ul li:hover {
color:black;
text-decoration: underline;
}
.left-footer {
margin-left: 20px;

}
.right-footer {
position: relative;
float:right;
margin-right: 20px;
}